#basket {
    padding-top: 5rem;

    .card-img-top {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        // max-width: 200px;
    }

    button {
        max-width: 5rem;
    }
    .confirmButton {
        max-width: 10rem;
    }

    // .card {
    //     height: 10%;
    // }
}

// #basket {
//     .container {
//         max-width: 800px;

//         .card-group {
//             margin-bottom: 1rem;
//         }
//     }

//     padding-top: 5rem;
//     // width: 80%;
    
//     .card-group {
//         height: 60%;
//     }
    
//     .card-img-top {
//         // height: 60%;
//         object-fit: cover;
//     }
// }