#categories {
    margin-bottom: 2.5rem;
    text-align: center;
    h6 {
        margin: 0.5rem 0 2rem;
    }
    
    img {
        object-fit: cover;
        width: 7rem;
        height: 7rem;
    }
    a {
        text-decoration: none;
    
    }
}