#teapot {
    background:  center / cover no-repeat url("https://images.pexels.com/photos/4390018/pexels-photo-4390018.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100%;
    width: 100%;
}