.photoCarousel {
    height: 25rem;
    object-fit: cover;
    // padding: 0.5rem;
}

.photoCarousel:hover {
    transition: transform 0.6s ease-in-out;  
    opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}