#banner {
    background:  center / cover no-repeat url("https://images.pexels.com/photos/461060/pexels-photo-461060.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100%;
    margin-bottom: 2.5rem;
}