#banner {
    background:  center / cover no-repeat url("https://images.pexels.com/photos/9482665/pexels-photo-9482665.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    margin-bottom: 2.5rem;
}