#banner {
    background:  center / cover no-repeat url("https://images-ext-2.discordapp.net/external/a6oyfoBxeRrU9LzGaetwMrkKe3-zv9Chm1t49qT8ucY/%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D2%26h%3D750%26w%3D1260/https/images.pexels.com/photos/920220/pexels-photo-920220.jpeg?width=1354&height=903");
    height: 100%;
    margin-bottom: 2.5rem;
}