#product {
    .container {
        max-width: 800px;

        .card-group {
            margin-bottom: 1rem;
        }
    }

    .foodRestriction {
        width: 2rem;
    }

    padding-top: 5rem;
    // width: 80%;
    
    .card-group {
        height: 60%;
    }
    
    .card-img-top {
        // height: 60%;
        object-fit: cover;
    }
}